<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.display-mirroring</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>20AC81D5-BB51-423D-8B4F-D18D4BCD3D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCA0357D-A45B-4C80-BD2A-1EBAB5C7CA63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>progfay</string>
	<key>description</key>
	<string>Toggle preference of Display Mirroring</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Display Mirroring</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mirror</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Display Mirroring</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20AC81D5-BB51-423D-8B4F-D18D4BCD3D47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./mirror</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCA0357D-A45B-4C80-BD2A-1EBAB5C7CA63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20AC81D5-BB51-423D-8B4F-D18D4BCD3D47</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>CCA0357D-A45B-4C80-BD2A-1EBAB5C7CA63</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/fcanas/mirror-displays</string>
</dict>
</plist>
